<h1>Edit Sub Kriteria</h1>

<%= render 'form' %>

<hr>
<%= link_to 'Lihat', edit_criterium_subcriterium_path(:id => @subcriterium.id), class: 'btn btn-block btn-primary' %>
<%= link_to 'Kembali', criterium_subcriterium_path(:id => @subcriterium.id), class: 'btn btn-block btn-default' %>
