<h1>Editing Subcriterium</h1>

<%= render 'form' %>

<hr>
<%= link_to 'Show', edit_criterium_subcriterium_path(:id => @subcriterium.id), class: 'btn btn-block btn-primary' %>
<%= link_to 'Back', criterium_subcriterium_path(:id => @subcriterium.id), class: 'btn btn-block btn-default' %>
