<% if notice %>
<p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>
<p>
  <strong>Nama Tanaman:</strong>
  <%= @plant.name %>
</p>


<%= link_to 'Edit', edit_plant_path(@plant), class: 'btn btn-primary' %> |
<%= link_to 'Kembali', plants_path, class: 'btn btn-primary' %>
